.navbar {
  width: 100%;
  height: 60px;
  padding: 5px;
  background: #000000;
  .menuIcon {
    color: cornsilk;
    width: 30px;
    margin: 15px;
  }
   .droopDown {
     width: 100%;
     margin-top: 20px;
     height: 0;
     padding: 3px;
     opacity: 0;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     transition: .4s ease-in-out;
     .navigationItem {
       width: 100%;
       height: 60px;
       background: #414040;
       color: wheat;
       font-size: 30px;
       padding: 10px;
       letter-spacing: 0.2rem;
       line-height: 40px;
       transition: .4s ease-in-out;

       &_active, :hover {
         background: #8a0606;
         color: aliceblue;
         padding-left: 100px ;
       }

     }
     &_active {
       opacity: 1;
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 240px;
     }
   }
}